<a href="https://colab.research.google.com/github/Gojou-Satoru-8/BDA/blob/main/Assignment3_BDA_7thFebruary_Ankush_202301009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
# Q1 Create a dataset as follow in the table.
import pandas as pd

data = {
    "Tid": [num for num in range(1, 11)],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": [125_000, 100_000, 70_000, 120_000, 95_000, 60_000, 220_000, 85_000, 75_000, 90_000],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"]
}

df = pd.DataFrame(data)
print("Q1: Table is displayed below:")
print(df)
# print(type(df))
# df.info()       # Info about the dataframe
# print(df.shape) # Number of Rows and columns as a tuple
# print(len(df))  # Number of rows
# print(len(df), df["Tid"].count()) # count returns number of non None rows in a column

print("------------------------------------------------------")

# Q2 From the above table that you have created, Locate row 0, 4, 7 and 8 using dataframe.
print("Q2: Rows 0, 4, 7 and 8 are as follows:")
print(df.loc[0])   # df.iloc is another option
print(df.loc[4])
print(df.loc[7])
print(df.loc[8])

print("------------------------------------------------------")
# Q3 Read a csv file in google collab and display it
weatherDF = pd.read_csv("/content/Assignment CSVs/Weather.csv")
print("Q3: Imported csv file is as follows")
print(weatherDF)
# print(type(weatherDF.get("temp")), type(weatherDF["temp"])) # Pandas Series type
temp_series = weatherDF.get("temp")
print(f"Min temp: {temp_series.min()}, Max temp: {temp_series.max()}, Avg temp: {temp_series.mean()}")
# NOTE: The Weather.csv file uploaded here may not persist next time

Q1: Table is displayed below:
   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes
------------------------------------------------------
Q2: Rows 0, 4, 7 and 8 are as follows:
Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income    125000
Cheat                 No
Name: 0, dtype: object
Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income       95000
Cheat                  Yes
Name: 4, dtype: object
Tid                    8
Refund                No
Marital Status    Single
Taxable Income     85000
Cheat                Yes
Name: 7, dtype: object
Tid                     9
Refund                 No
Marital Status    Married
Taxable Income      75000
Cheat                  No
Name: 8, dtype: object
------------------------------------------------------
Q3: Imported csv file is as follows
         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny
Min temp: 12, Max temp: 24, Avg temp: 17.428571428571427